{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Software Engineer in the making and a Tech enthusiast at heart. </h3>
        <h3>I love all things computer science and I often tweet and talk about it.</h3>
        <h3>Currently interning as a technical aid at <a href="http://www.coherenceacademy.com">Coherence Academy</a>.</h3>
        <h3>I resolve issues that people face with technology or you can say that I'm slightly better at Googling than you are. ;) </h3>
        <h3>Contact me via <a href="intent://send/+919850039060#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">WhatsApp</a> [<a href="tel:+919850039060">Phone</a>], <a href="https://www.m.me/dgujar">Facebook Messenger</a> or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
